* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    /* font-display: swap; */
    height: 100vh;
}

.Header {
    margin: 4rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    color: black;
}

.Paginas {
    display: flex;
    gap: 2.5rem;
    list-style: none;

}

.Paginas-links {
    color: black;
    text-decoration: none;
}

.Paginas-links:hover {
    color: #77875b;
}

.material-symbols-outlined {
    color: black;
}

.Grid-structure {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* grid-auto-rows: repeat(5, 1fr); */
    gap: 0.625rem;
    padding: 0.625rem;
    max-width: 100%;
    margin: 0.625rem;
}

.Grid-images {
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 200px;
    object-fit: cover;
    display: block;
}

.Grid-images--1 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--2 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--3 {
    grid-column: span 1;
    grid-row: span 2;
}

.Grid-images--4 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--5 {
    grid-column: span 2;
    grid-row: span 2;
}

.Grid-images--6 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--7 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--8 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--9 {
    grid-column: span 2;
    grid-row: span 2;
}

.Grid-images--10 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--11 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--12 {
    grid-column: span 1;
    grid-row: span 2;
}

.Grid-images--13 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--14 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--15 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--16 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--17 {
    grid-column: span 2;
    grid-row: span 1;
}

.Grid-images--18 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--19 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--20 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-images--21 {
    grid-column: span 1;
    grid-row: span 1;
}

.Grid-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6.25rem;
}

.Description {
    text-align: center;
    width: 21.875rem;
    color: #838383;
    margin-top: 1.25rem;
    font-size: 1.3rem;
}

.Footer {
    display: flex;
    justify-content: center;
    color: #838383;
    height: 12.5rem;
    padding: 6.25rem;
}

.Footer-link {
    color: #838383;
    text-decoration: none;
    font-size: 1.3rem;
}